
img.pro {
    width: 7%;
    margin-right: 6px;
}
.pagerow .protectionbox {
    max-width: 80%!important;
    margin: auto;
    position: relative;
}

.personForm  ol  {
    border-bottom: 1px solid #fff
}

.finalformRed  ol  {
    background: #cd1f49!important
}

.SizeDollar  {
    font-size: 14px
}

.SizeAmount  {
    width: 94%!important
}

.SizeAmount.text-right ,
input.SizeAmountHalf  {
    width: 88%!important
}

.inputrow  input  {
    outline: 0
}

.inputrow  input ::-webkit-input-placeholder {
    color: #9ea0a3
}

.inputrow  input ::-moz-placeholder {
    color: #9ea0a3
}

.inputrow  input ::-ms-input-placeholder {
    color: #9ea0a3
}

.inputrow  input ::placeholder {
    color: #9ea0a3
}

span.SizeDollar  {
    color: #9ea0a3
}

.heading_row  {
    padding: 0!important
}

.heading_row  li  {
    border-right: 1px solid #fff;
    box-sizing: border-box;
    padding: 0 2px
}

.no-outline  input  {
    outline: 0
}

.amountRight  {
    float: right;
    width: auto!important;
    border: 0!important;
    padding-right: 7px
}

.li-3  li  {
    width: 33.33%!important
}

ul.li-3.fieldtitle_bg  li  {
    border-top: 0!important;
    border-bottom: 0!important
}

ul.li-3.fieldtitle_bg  li :last-child {
    border-right: 0!important
}

ul.li-3.fieldtitle_bg  li :first-child {
    border-left: 0!important
}

.action-row  li  i  {
    font-size: 18px!important
}

.middle-section  .action-row  ul  {
    justify-content: flex-end!important;
    justify-content: flex-start!important
}

.action-row  ul  {
    margin-bottom: 0!important;
    min-height: 31.25px
}

.indicated-data  li :last-child {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 50px
}

.indicated-data  li :nth-child(2) {
    position: relative;
    display: flex;
    align-items: center
}

span.SizeDollar1  {
    position: relative;
    font: 600 12px/1.5 Poppins, sans-serif;
    color: #9ea0a3
}

.sidebar  ul  li :nth-child(1) i  {
    padding: 6px 5px 0 0
}

.sidebar  ul  li :nth-child(2) {
    background: 0 0
}

.sidebar  ul  li :nth-child(2) input  {
    width: 23px!important;
    border: none!important;
    margin-right: 0;
    outline: 0;
    padding-right: 0!important;
    font: 600 12px/1.5 Poppins, sans-serif;
    color: #9ea0a3;
    background: 0 0
}

.sidebar  ul  li :nth-child(3) input  {
    width: 120px!important
}

.indicated-data  li :nth-child(2) span  {
    position: relative
}

.indicated-data  li :nth-child(3) span  {
    font: 600 12px/1.5 Poppins, sans-serif;
    color: #9ea0a3
}

.middle-section  .action-row  ul  li  input  {
    font: 600 12px/1.5 Poppins, sans-serif;
    color: #9ea0a3;
    background: 0 0
}

.sidebar  ul  li :nth-child(3) input :before {
    content: "123"
}

.sidebar  ul  li :nth-child(3) {
    background: 0 0;
    padding-left: 7px
}

.sidebar  ul  li :nth-child(3) div  {
    padding-right: 10px;
    font: 600 12px/1.5 Poppins, sans-serif;
    color: #9ea0a3;
    padding-left: 2px
}

ol.li-4.d-flex.heading_row  {
    min-height: 31px;
    align-items: center
}

ol.li-4.d-flex.heading_row  li :last-child {
    border-right: 0
}

.middlee  {
    position: relative;
    right: -5px;
    font: 600 12px/1.5 Poppins, sans-serif;
    color: #9ea0a3
}

.showyear-center  p  {
    position: absolute;
    text-align: center;
    width: 100%;
    top: -27px
}

.showyear-center  {
    position: relative
}

.action-row  li  input  {
    width: 15px;
    margin-right: 0!important;
    padding-left: 0;
    z-index: 10;
    background: #e8f1f9!important
}

.action-row  li :first-child {
    width: 155px;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
    border: 1px solid transparent;
    padding-left: 0;
    position: relative;
    z-index: 99
}

.action-row  li :first-child input  {
    border: none!important;
    outline: 0;
    text-align: left!important
}

.total_amount  {
    padding-right: 7px;
    float: right;
    font: 600 12px/1.5 Poppins, sans-serif
}

.middleStyle  input  {
    margin-left: 0!important
}

.fontSizetotal  {
    font: 600 12px/1.5 Poppins, sans-serif
}

span.SizePercent  {
    font: 600 12px/1.5 Poppins, sans-serif;
    color: #9ea0a3
}

.li-4.d-flex[_ngcontent-ttl-c1]  li[_ngcontent-ttl-c1] :nth-child(3) {
    width: 40%!important
}

.d-flexstyle  {
    display: flex!important;
    align-items: center;
    padding-right: 12px
}

.d-flexstyle  .SizePercent  {
    position: relative;
    left: -2px
}

.d-flexstyle  input ::-webkit-input-placeholder {
    text-align: center
}

.d-flexstyle  input ::-moz-placeholder {
    text-align: center
}

.d-flexstyle  input ::-ms-input-placeholder {
    text-align: center
}

.d-flexstyle  input ::placeholder {
    text-align: center
}

.d-flexstyle  input  {
    text-align: right
}

.middle-section[_ngcontent-bnn-c1]  .action-row[_ngcontent-bnn-c1]  ul[_ngcontent-bnn-c1]  li[_ngcontent-bnn-c1]  input[_ngcontent-bnn-c1]  {
    height: 25px;
    margin: 0 5px;
    text-align: center;
    border: 1px solid #172b4d;
    padding-left: 50px
}

.new-amm  li  .middlee  {
    left: 0!important;
    position: relative;
    color: #000
}

.new-amm  li  i  {
    font-size: 17px;
    position: relative;
    right: -10px
}

.arrow-size  i  {
    font-size: 17px
}

.arrow-size  span  {
    position: relative;
    top: -3px
}

.Turn  {
    position: relative;
    top: -30px
}

.new-position  {
    top: 0!important
}

.new-action-add  {
    margin-bottom: 0!important
}

.newrow1  {
    float: left;
    padding-top: 6px;
    width: 100%
}

.amm-set  {
    position: relative;
    left: 0;
    width: 100%;
    float: left;
    padding-top: 29px
}

.p-set  {
    padding-top: 20px!important
}

.sidebar  .indicated-data  {
    margin-bottom: 0!important
}

.dirction-row  {
    float: left;
    width: 100%;
    margin-bottom: 31px
}

.full-width-row  {
    width: 100%;
    float: left;
    margin-bottom: 31px!important
}

.sidebar  .indicated-data2  {
    margin-bottom: 31px!important
}

.sidebarrow  {
    margin-bottom: 24px
}

.dirction-row  .total_amount  {
    top: 3px;
    position: relative
}

.middleStyle ::after {
    content: '';
    width: 100%;
    height: 0;
    border-bottom: 3px solid;
    position: relative;
    top: 0
}

.middleStyle  span  {
    position: relative;
    left: 0;
    z-index: 99
}

.middle-section  .action-row  ul  li :last-child {
    padding-left: 0!important;
    position: relative;
    right: 2px
}

.line-c :after {
    content: '';
    width: 44%;
    height: 0;
    border-bottom: 3px solid;
    position: absolute;
    top: 17px;
    right: 5px;
    z-index: 9
}

.line-c  {
    position: relative;
    max-height: 177px
}

.line-c  li :last-child {
    position: absolute;
    right: 0
}

.line-c  li  input  {
    max-width: 90px!important
}

.pagerow  .protectionbox  {
    max-width: 80%!important;
    margin: auto;
    position: relative
}

.box-icon  {
    left: 0
}

.pagerow :after {
    content: "";
    background: #295282;
    position: absolute;
    height: 289px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -9
}

.pagerow  {
    position: relative
}

.w-50  {
    width: 50%!important
}

.dashboard  {
    margin: 0;
    background-color: #e8f1f9;
    padding: 0 45px;
    position: relative
}

.cover-header  {
    position: relative
}

img.pro  {
    width: 6%;
    margin-right: 5px
}

