body {
    background: #e8f1f9;
    font-size: 12px
}

.pagerow {
    min-height: 619px
}


.font-weight-bold {
    font-weight: 700
}

.text-centre {
    text-align: center
}

.w-100 {
    width: 100%;
    display: block
}

.input-checkbox {
    min-height: auto
}

.box-style {
    border: 1px solid #9ea0a3;
    width: 50%;
    float: left;
    box-sizing: border-box;
    min-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center
}

.box-style input {
    min-height: auto!important;
    margin-left: 5px;
    vertical-align: middle
}

/************************/
.width-46 {
    width: 47%;
    margin-top: 30px
}

.width-46 h5 span {
    text-transform: capitalize
}

.width-46 h5 {
    background-color: #cd1f49;
    font: 500 12px/1.5 Poppins, sans-serif;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    padding: 6px 0;
    margin: 0
}

.width-100 {
    width: 100%;
    margin-top: 30px
}

.width-100 h5 span {
    text-transform: capitalize
}

.width-100 h5 {
    background-color: #cd1f49;
    font: 500 12px/1.5 Poppins, sans-serif;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    padding: 6px 0;
    margin: 0
}

.form-horizontal {
    padding: 5px
}

.frm-box h4 {
    margin-bottom: 10px;
    margin-top: 30px
}

.frm-box p {
    display: inline-block;
    margin-right: 35px;
    font-size: 14px;
    width: 20%
}

.custom-control-description {
    margin-right: 15px;
    padding: 0 0 0 5px
}

.saprator-1 {
    text-align: center;
    font-size: 36px;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    background: #295282
}

.saprator-1 .sapbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    background: #295282;
    padding: 0 24px;
    z-index: 9
}

.saprator-1:after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background: #fff;
    left: 0;
    top: 50%
}

.saprator-blue {
    text-align: center;
    font-size: 36px;
    color: #295282;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    max-width: 100%;
    margin: 50px auto 0;
    background: #e8f1f9
}

.saprator-blue .sapbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    background: #e8f1f9;
    padding: 0 24px;
    z-index: 9
}

.saprator-blue:after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background: #295282;
    left: 0;
    top: 50%
}

.client-info-table table {
    width: 100%
}

.client-info-table table ,
td ,
th {
    border: 1.5px solid #9ea0a3;
    border-collapse: collapse
}

.client-info-table th ,
td {
    padding: 5px;
    text-align: left;
    font-size: 12px;
    font-weight: 700
}

.client-info-table thead.thead-light th {
    border: none;
    background: #9ea0a3;
    color: #fff;
    font-size: 10px
}

.empty-box {
    padding: 10px
}

.ag-left {
    text-align: left!important;
    padding: 2px 10px!important
}

.form-group {
    padding: 5px
}

.form-group label {
    font-size: 12px;
    font-weight: 700
}

input#textinput {
    width: 26%;
    padding: 7px 2px;
    margin-left: 10px
}

textarea#textarea {
    width: 99%;
    margin: 5px 0;
    height: 70px
}

.chk-box span {
    padding-left: 10px
}

.chk-box {
    position: relative;
    right: -13px;
    top: 8px;
    font-size: 14px
}

.border-hr {
    border-top: 1px solid #9ea0a3;
    border-bottom: 1px solid #9ea0a3;
    padding: 15px 0;
    width: 100%;
    margin: 20px 0
}

.form-2 {
    background: #9ea0a3;
    color: #fff
}

.form-2-group {
    width: 100%
}

.form-2-group #textinput1 {
    width: 50%;
    margin-left: 10px
}

.chk-box-2 {
    font-size: 14px;
    text-align: right;
    padding-right: 60px
}

.pension-font {
    font-size: 12px;
    padding: 5px 0!important
}

.pension-font i {
    font-size: 20px;
    padding-right: 10px;
    position: relative;
    top: 2px
}

.chk-box-3 {
    margin-left: 10px
}

.chk-box-3 span {
    font-size: 12px;
    margin-right: 22px
}

.chk-box-3 label.checkbox-inline {
    position: relative;
    padding-right: 5px
}

.label-width {
    display: inline-block;
    width: 46%
}

.form-2-group input {
    width: 53%
}

input[type=checkbox] ,
input[type=radio] {
    width: auto!important; vertical-align:middle;
}

.em-left {
    text-align: left!important;
    position: relative;
    left: 20px
}

.lft-in {
    text-align: right
}

.biggest-lable span {
    font-size: 12px;
    padding-left: 10px
}

.biggest-lable select {
    width: 98%;
    padding: 5px 5px 5px 30px
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    background: #fff;
    cursor: pointer
}

.select {
    position: relative;
    display: block;
    line-height: 3;
    overflow: hidden
}

select::-ms-expand {
    display: none
}

.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 0 10px;
    pointer-events: none;
    color: #9ea0a3
}

For different browsers -- > .select::after {
    transition: .25s all ease
}

.allctn-input textarea ,
.realstate-box textarea {
    width: 98%;
    height: 100px
}

.dollor-left-chk {
    padding-left: 70px
}

.dollor-text-box {
    position: relative
}

.dollor-text-box textarea {
    height: 100px;
    width: 99%
}

.dollor-text-box i {
    position: absolute;
    left: -20px;
    top: 45%
}

.lft-invest {
    padding-left: 40px;
    font-size: 12px
}

.bordr-bottm {
    border-bottom: 2px solid #fff;
    margin: 10px 0
}

.lft-invest input[type=checkbox] ,
input[type=radio] {
    top: 2px;
    position: relative;
    margin-right: 10px
}

.tsp-ul {
    text-align: right
}

.tsp-ul li {
    border: none!important;
    font-size: 13px;
    text-align: left
}

.allctn-input .tsp-inn {
    width: 23%!important;
    position: relative;
    left: 125px;
    margin-left: 10px
}

.l-width {
    width: 77px; display:flex;    align-items: center;
}
.l-width i {
    margin-right: 5px;
    vertical-align: middle;
    display: inline-block;
}
.allctn-input .tsp-inn-2 {
    width: 21%!important;
    position: relative;
    left: 100px;
    margin-left: 10px
}

.m-width {
    width: 136px
}

.m-width label {
    font-size: 11px;
    font-weight: 100
}

.mb-6 {
    margin-bottom: 30px
}

.join-inpt {
    left: 32px!important;
    margin: 0!important
}

.no-lft {
    left: 32px!important
}

textarea {
    resize: none
}

.w-70 {
    width: 70%
}

.w-30 {
    width: 30%
}

.input-style input {
    width: 100%;
    border: none;
    min-height: 24px
}

.list-style-border li {
    border: solid #9ea0a3;
    border-width: 1px 0 0 1px;
    padding: 0
}

.text-center ,
.text-center input {
    text-align: center
}

.pl-5 input {
    padding-left: 22px
}

.pl-10 input {
    padding-left: 50px
}

.outline-none {
    outline: 0
}
.header-form {
    justify-content: space-between;
    align-items: flex-end;
}
.hide_btn {
    color: #295282;
    font-size: 18px;
    padding: 6px 15px;
    line-height: 100%;
    white-space: nowrap;
}
.infohead li.widthequl {
    width: 20%!important;
    text-align: left!important;
}
.infohead li.eql22 {
    text-align: left!important;
    text-indent: 0;
    width: 13%!important;
}
.no-bdr li {
    border: none!important;
}
.sublist {
    padding-left: 50px;
    display: flex;
}
.sublist li {
  border: 0px !important;
    font-size: 12px;
    color: #333;
    display: flex;
    align-items: center;
}
.sublist li input{top: 0px !important;margin-left:5px;}
.subheader {
    justify-content: space-between;
    padding: 0px 5px;
    font-size: 12px;
}
.yes_no input {
    vertical-align: middle;margin-left: 3px;
}
.yes_no div {
min-width: 35px;
    text-align: center;
}
.mb-3 {
    margin-bottom: 6px;
}
.planwrap {
    padding: 5px 8px 0px 8px;
    font-size: 12px;
}
.planwrap textarea {
    min-width: 270px;
    min-height: 80px; width: 100%;
}
.planlist {
    align-items: center;
    padding: 4px 10px;
}
.planlist input{
    vertical-align: middle;
}
.yes_no .plana{ min-width: 15px;}
.plana {
    min-width: 15px;
}
.actioninput div {
    min-width: 35px;
    text-align: center;
}

@media only screen and (max-width:1200px) {
    .allctn-input .tsp-inn {
        width: 20%!important;
        left: 79px
    }
    .allctn-input .tsp-inn-2 {
        width: 20%!important;
        left: 80px
    }
    .join-inpt ,
    .no-lft {
        left: 18px!important
    }
}

@media only screen and (max-width:1020px) {
    .allctn-input .tsp-inn {
        width: 20%!important;
        left: 84px
    }
    .allctn-input .tsp-inn-2 {
        width: 20%!important;
        left: 53px
    }
    .l-width {
        width: 27%
    }
    .m-width {
        width: 47%
    }
    .dollor-text-box textarea {
        width: 99%
    }
}

@media only screen and (max-width:992px) {
    .allctn-input .tsp-inn {
        width: 20%!important;
        left: 120px
    }
    .allctn-input .tsp-inn-2 {
        width: 20%!important;
        left: 21px
    }
    .top-form ul li {
        width: 22%
    }
    .biggest-lable select {
        width: 100%
    }
    .frm-box p {
        width: 36%
    }
    .width-46 {
        width: 100%
    }
    .l-width {
        width: 27%
    }
    .m-width {
        width: 47%
    }
    .join-inpt {
        left: 0!important
    }
    .no-lft {
        left: 1px!important
    }
    .dollor-text-box textarea {
        width: 99%
    }
}

@media only screen and (max-width:800px) {
    .frm-box p {
        width: 50%
    }
    .width-46 {
        width: 100%
    }
    .form-2-group {
        width: 98%
    }
    .form-group label {
        font-size: 11px
    }
    .tsp-inn {
        left: 84px!important
    }
    .allctn-input .tsp-inn-2 {
        width: 20%!important;
        left: 23px
    }
    .join-inpt {
        left: -22px!important
    }
    .no-lft {
        left: -21px!important
    }
    .dollor-text-box textarea {
        width: 99%
    }
}

@media only screen and (max-width:600px) {
    .frm-box p {
        width: 50%
    }
    .width-46 {
        width: 100%
    }
    .form-2-group {
        width: 98%
    }
    .form-group label {
        font-size: 11px
    }
    .tsp-inn {
        left: 75px!important
    }
    .join-inpt {
        left: -5px!important
    }
    .no-lft {
        left: -4px!important
    }
    .allctn-input .tsp-inn-2 {
        width: 20%!important;
        left: 19px
    }
    .dollor-text-box textarea {
        width: 99%
    }
}

@media only screen and (max-width:400px) {
    .frm-box p {
        width: 50%
    }
    .width-46 {
        width: 100%
    }
    .form-2-group {
        width: 98%
    }
    .form-group label {
        font-size: 11px
    }
    .tsp-inn {
        left: 47px!important
    }
    .join-inpt {
        left: -5px!important
    }
    .no-lft {
        left: -4px!important
    }
    .allctn-input .tsp-inn-2 {
        width: 20%!important;
        left: 25px
    }
    .dollor-text-box textarea {
        width: 99%
    }
}

.no-bdr li {
    border: none!important
}

.input-box li {
    padding: 0!important
}

.input-box li input {
    padding: 2px!important
}

.space-box {
    padding: 10px
}

.infohead p {
    text-transform: capitalize!important;
    font-weight: 100!important;
    font-size: 11px!important
}

.input-box input[type=text] {
    text-transform: capitalize!important
}

.newstyle11 .reducewidth {
    width: 14%!important
}

body .infohead li.widthequl {
    width: 20%!important;
    text-align: left!important
}

body .infohead li.eql22 {
    text-align: left!important;
    text-indent: 0;
    width: 13%!important
}

textarea#texttt {
    margin: 5px 0 5px 3%;
    height: 56px;
    border-radius: 6px;
    width: 93%
}

.img-size img {
    max-width: 45px
}

input::-webkit-input-placeholder {
    font-size: 12px
}

input::-moz-placeholder {
    font-size: 12px
}

input ::-ms-input-placeholder {
    font-size: 12px
}

input ::placeholder {
    font-size: 12px
}

input {
    font-size: 12px
}

img.pro {
    width: 6%;
    margin-right: 5px
}
.layout-style {
    box-sizing: border-box;
    justify-content: space-between;    padding-right: 0px;
}
.input-inside {
    display: flex;
    justify-content: end;
}
.input-inside input:last-child{ margin-left: 27px;}
.input-inside input{width: 80px;    box-sizing: border-box; }
.equal-layout li:last-child{margin-left: 27px;}
.equal-layout li{width: 80px;text-align: center;}
.equal-layout {
    box-sizing: border-box;
    justify-content: end;
}

.justify-content-between {
    justify-content: space-between;
}
.estate_box {
    padding-bottom: 7px;
}
.input-inside2 {
    padding-right: 107px;
}
.layout-style textarea{width: 100%; margin-top: 17px;}
.boxwrap {
    padding: 20px;
    background: #9ea0a3;
}
.boxwrap form {
    padding: 0px !important;
}