/*body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
html, body {
    height: 100%;
}
*{ text-decoration:none; list-style:none; margin:0px; padding:0px;}
.pagerow {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
}
.pagerow .laft-bar {
    background: #fff;
    padding: 29px 0px;
    width: 200px;
}
.pagerow .laft-bar .site-logo {
    text-align: center;
    padding-bottom: 25px;
}
.pagerow .laft-bar .site-logo {
    text-align: center;
    padding-bottom: 25px;
}
.pagerow .laft-bar .admin-panel ul {
    padding: 0px;
    margin: 0px;
}
.info-menu ul li a {
    COLOR: #FFF;
}

.pagerow .laft-bar .admin-panel ul li {
    background-color: #295282;
    color: #ffffff;
    padding: 8px 15px;
}
ul.infohead.fieldtitle_bg li {
    border-top: 0px;
    border-bottom: 0px;
}
.pagerow .laft-bar .admin-panel ul li a{
    color:#fff;
}
.pagerow .laft-bar .admin-panel ul li i {
    margin-right: 5px;
}
 .content-area {
    -webkit-box-flex: 25%;
    flex: 25%;
    max-width: 100%;
    margin: 0px;
    padding: 0px;
}
.cover-header {
    background-color: #295282;
    color: #ffffff;
    padding: 20px 45px 20px 45px;
}
.cover-header .top-row {
    -webkit-box-pack: justify;
    justify-content: space-between;
    display: -webkit-box;
    display: flex;
}
.cover-header .top-row .search-wrap {
    position: relative;
}
.top-row .search-wrap input[type=text] {
    background: none;
    border: 1.5px solid #fff;
    height: 38px;
    width: 438px;
    color: #fff;
    border-radius: 17px;
    padding-left: 45px;
}
.top-row .search-wrap button {
    position: absolute;
    left: 10px;
    background: none;
    border: none;
    color: #fff;
    font-size: 18px;
    top: 10px;
}
.top-row .info-menu ul {
    padding: 0px;
    margin-bottom: 0px;
    list-style: none;
    margin: 0px;
}
.info-menu ul li {
    display: inline-block;
    margin-left: 8px; cursor:pointer;
}
.info-menu ul li i {
    margin: 0px 10px 0px 0px;
    font-size: 20px;
}
.info-menu ul li.loginbtn {
    background-color: #ffffff;
    color: #7564e0;
}
.top-row .info-menu ul li .loginbtn {
    background-color: #ffffff;
    color: #7564e0;
}
.top-row .info-menu ul li button {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 17px;    transition: 0.4s; cursor:pointer;
}
.info-menu ul li button:hover {
    background-color: #cd1f49;
    border-color: #b6173d;
    color: #ffffff;
}
 .bredcrumb ul {
    padding-left: 0px;    margin: 15px 0px;
}
 .bredcrumb ul li {
    list-style: none;
    display: inline-block;
    cursor: pointer;
}
.bredcrumb ul li a{ color:#fff;}
.dashboard {
    margin: 0px;
    background-color: #e8f1f9;
    padding: 0px 45px;
    position: relative;
}
.info-menu ul li i:hover {
    color: #b6173d;
}
.dashboard:before {
    content: "";
    position: absolute;
    background: #295282;
    width: 100%;
    height: 206px;
    left: 0px;
    top: -1px;
}
.left-content {
    max-width: 100%;
    width: 100%;
    position: relative;
}
 .left-content .family-info {
    max-width: 40%;
    width: 100%;

    margin: 39px 0px;
    position: relative;
    
}
.family-info-inner{
        box-shadow: -1px 4px 15px #000;
    border: 6px solid #000;
background-color: #ffffff;  
}
.family-info .box-icon {
    position: absolute;
    width: 100%;
    text-align: center;
    top: -38px;
    color: #ffffff;
    font-size: 25px;
}
.family-info h5 {
    background-color: #cd1f49;
    font: 500 12px/1.5 "Poppins", sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    padding: 6px 0;
    margin: 0;
}
.family-info .top-form {
    background-color: #ffffff;
    padding: 0px;
}
.top-form p.sub-title {
    background: #9ea0a3;
    color: #ffffff;
    text-align: center;
    padding: 2px 0;
margin: 0px 0px;}
.top-form ul {
    list-style: none;
    padding: 0px;
    margin: 0;
}
.top-form ul li {
    border: 1px solid #dbdbdc;
    box-sizing: border-box;
    display: inline-block;
    width: 23%;
}
.top-form ul li p {
    margin: 0px;
}
.info-title ol {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    list-style: none;
    padding: 6px 6px;
    margin: 0px;
    background-color: #6f7070;
    color: #ffffff;
}
.info-title ol li {
    font: 600 12px/1.5 "Poppins", sans-serif;
}
.info-title ol li i {
    color: #6f7070;
    background-color: #ffffff;
    cursor: pointer;
    font-size: 8px;
    padding: 4px;
}
.info-title ol li {
    font: 600 12px/1.5 "Poppins", sans-serif;
}
.fieldtitle_bg {
    background-color: #9ea0a3;
    color: #ffffff;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
}
.top-form ul li p, .top-form ul li input {
    border: 0px solid transparent;
    color: #9ea0a3;
    box-sizing: border-box;
    font: 600 12px/1.5 "Poppins", sans-serif;
    text-transform: uppercase;
    padding: 6px 2px;
    width: 100%;
}
.fieldtitle_bg li p {
    color: #ffffff !important;
}

.top-form ul li p {
    margin: 0px;
}
.top-form ul {
    list-style: none;
    padding: 0px;
    margin: 0;
}
.infohead {
    display: -webkit-box;
    display: flex;
}
.top-form ul li {
    border: 1px solid #dbdbdc;
    box-sizing: border-box;
    display: inline-block;
    width: 23%;
}
.infohead li:nth-child(1) {
    width: 40% !important;
}
.top-form ul li p, .top-form ul li input {
    border: 0px solid transparent;
    color: #9ea0a3;
    box-sizing: border-box;
    font: 600 12px/1.5 "Poppins", sans-serif;
    text-transform: uppercase;
    padding: 6px 2px;
    width: 100%;
}
.top-form ul li:last-child ul {
    position: relative;
    height: 25px;
    margin: 0px;
    padding: 0;
    top: -1px;
}

.top-form ul li:last-child ul li .custom-checkbox {
    position: relative;
    height: 17px;
    width: 17px;
    left: 0px;
    top: 3px;
}
.top-form ul li:last-child ul li .custom-checkbox input {
    position: absolute;
    cursor: pointer;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 4;
    left: 0;
    top: 0;
}
.top-form ul li:last-child ul li .custom-checkbox span {
    border: 1px solid #6f7070;
    border-radius: 50px;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}
.top-form ul li:last-child ul li .custom-checkbox input:checked + span {
    background-color: #cd1f49;
}
.custom-checkbox {
    position: relative;
    height: 17px;
    width: 17px;
    left: auto;
    top: 3px;
    margin: auto;
}
.custom-checkbox input {
    position: absolute;
    cursor: pointer;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 4;
    left: 0;
    top: 0;
}
.custom-checkbox span {
    border: 1px solid #6f7070;
    border-radius: 50px;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}
.custom-checkbox input:checked + span {
    background-color: #cd1f49;
}
.w-66 {
    width: 66.6666666666% !important;
}
.w-33 {
    width: 33.3333333334% !important;
}
.d-flex{ display:flex;}
.top-forms {
    display: flex;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
 .family-info {
    max-width: 32% !important;
}
 .middle-section1 {
    max-width: 17%;
    width: 100%;
}
 .family-info {
    max-width: 32% !important;
}
 .sidebar {
    max-width: 15%;
    width: 100%;
}
body .w-50 {
    width: 50% !important;
}
.personForm h6 {
    background-color: #6f7070;
    font: 600 12px/1.5 "Poppins", sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    padding: 6px 0;
    margin: 0;
}
.personForm ol {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: flex;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 4px 6px;
    margin: 0;
    list-style: none;
    background: #9ea0a3;
    color: #ffffff;
}
.personForm ol li {
    font: 600 12px/1.9 "Poppins", sans-serif;
    color: #ffffff;
    font-weight: normal;
}
.personForm ol li i {
    background-color: #ffffff;
    color: #ffffff;
    cursor: pointer;
    font-size: 8px;
    padding: 4px;
    background: #ffffff;
    color: #172b4d;
}
.personForm ol li {
    font: 600 12px/1.9 "Poppins", sans-serif;
    color: #ffffff;
    font-weight: normal;
}
.family-info .bluebg i {
    background-color: #172b4d;
    font-size: 19px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
}
.dirction-left li{}
.icon_row {
    padding: 1px 0px;
}
.icon_row ul {
    padding: 0px;
    margin: 0px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.icon_row ul li {
    list-style: none;
    border: 1px solid #172b4d !important;
    font-size: 19px;
    padding: 0px 0px;
    margin: 0px 2px 0px 0px;
    background-color: #ffffff;
    color: #172b4d !important;
    min-width: 17px;
    text-align: center;
    font-size: 15px !important;
    font-weight: bold !important;
    line-height: 100% !important;
}
.icon_row ul li i {
    padding: 0px !important;
    font-size: 15px !important;
}
.saprator {
    margin: 25px 0px;
    text-align: center;
    font-size: 36px;
    color: #172b4d;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
    margin-bottom: 50px;
    position: relative;
    max-width: 84%;
}
.saprator .sapbox {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    background: #e8f1f9;
    padding: 0px 24px;
    z-index: 9;
}
.saprator .sapbox .counter {
    color: #ffffff;
    background-color: #172b4d;
    font-size: 12px;
    padding: 0px 10px 0px 3px;
    line-height: 36px;
    margin-left: 5px;
}
.saprator:after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background: #cd1f49;
    left: 0px;
    top: 50%;
}
.middle-section {
    max-width: 17%;
    width: 100%;
         padding-top: 134px;
}
.middle-section .action-row {
    margin-bottom: 25px;
}
.action-row ul li {
    padding-top: 5px !important;
}
.middle-section .action-row ul {
    padding: 0px;
    margin: 0px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.middle-section .action-row ul li {
    list-style: none;
}
.middle-section .action-row ul li i {
    color: #172b4d;
    font-size: 36px;
}
.middle-section .action-row ul li input {

    height: 25px;
    margin: 0px 5px;
    text-align: center;
    border: 1px solid #172b4d;
}

 .sidebar {
    max-width: 15%;
    width: 100%;
    padding-top: 134px;
}

.sidebar .indicated-data {
    margin-bottom: 25px;
}
.sidebar .indicated-data ul {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
        justify-content: left;
}
.sidebar .indicated-data ul li {
    list-style: none;
}
.sidebar .indicated-data ul li i {
    color: #172b4d;
    font-size: 18px;
    padding-left:0px;
}
.indicated-data ul {
     margin-bottom: 0px;
    min-height: 32px;
}
.indicated-data ul .percentage {
    margin-right: -34px;
    position: relative;
    padding-left: 6px;
}
.indicated-data ul li input {
    width: 126px;
    height: 25px;
   
    text-align: center;
    border: 1px solid #172b4d;
    text-align: right;
    padding-right: 10px;
}
.li-4 li{ width:25% !important;}
.total ul {
    color: #ffffff;
    background: #35b062; display:flex;
}
.total ul li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: #cd1f49;
    box-sizing: border-box;
    font: 600 12px/1.5 "Poppins", sans-serif;
    text-transform: uppercase;
    padding: 4px 6px;
    width: 69%;
    color: #ffffff;
    text-align: center;
    border-bottom: none;
}
.total ul li:last-child {
    width: 31%;
    font-weight: normal;
}
.investment ul.form-row {
    display: flex;
}
.investment ul.form-row li{
    width:25%;
}
.investtotal .total {
    background-color: #35b062;
}
.investtotal ul li:first-child {
    border-right: 1px solid #bdbfc1;
    width: 72%;
    text-align: left; box-sizing: border-box;
}
.investtotal ul li {
    list-style: none;
    font: 500 12px/1.5 "Poppins", sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    padding: 6px 0;
    margin: 0;
    padding: 9px 8px;
}
.top-row .info-menu ul li .loginbtn:hover{
        background-color: #cd1f49;
    border-color: #b6173d;
    color: #ffffff;
}

.investtotal .box-header {
    background-color: #ff0000;
}
.investtotal ul {
    display: flex;
    margin: 0px;
    padding: 0px;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.investtotal ul li:last-child{
     width: 28%;    box-sizing: border-box;
}
.family-info.dept_window .top-form ul li {
    width: 20%;
}
.family-info.dept_window .top-form ul{ display:flex; }
.top-form ul li p {
    margin: 0px;
}
img{max-width:100%;}
.top-row .search-wrap input::placeholder{color:#fff;}
.investtotal .box-header {
    background-color: #ff0000;
}


.style-1 {  display: block;}
.style-1 .family-info {    display: inline-table;}
.style-1 .middle-section {    display: inline-table;}
.style-1 .middle-section1 {    display: inline-table;}
.style-1 .sidebar {    display: inline-table;}
.li-4.d-flex li{
    width: 25% !important
}
.li-4.d-flex li:nth-child(2){
width: 20% !important
}
.li-4.d-flex li:nth-child(3){
width: 40% !important
}
.li-4.d-flex li:first-child{
width: 15% !important
}
.showyear-center {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

@media (max-width:1200px){
    
    .pagerow .laft-bar {
    width: 135px;
}
 .cover-header {
    padding: 20px 15px 20px 15px;
}
.top-row .search-wrap input[type=text] {
    width: 100%;
}
.top-form .personForm ol li {
    font: normal 12px/1.9 "Poppins", sans-serif;
    letter-spacing: -0.5px;
}
 .top-form .personForm ol {
    padding: 4px 3px;
}
body .container-fluid .dashboard .left-content .family-info .top-form ul li p, body .container-fluid .dashboard .left-content .family-info .top-form ul li input {
    font: 400 11px/1.5 "Poppins", sans-serif;
}
.middle-section .action-row ul li input {
    width: 74px;
}

.sidebar .indicated-data ul li input {
    font: 400 11px/1.5 "Poppins", sans-serif;
    width: 80px;
}
.sidebar .indicated-data ul {
    padding-left: 14px;
    margin: 0px;
}
.indicated-data ul .percentage {
    padding-left: 18px;
    font: 400 13px/1.5 "Poppins", sans-serif;
    margin-right: -26px;
    padding-left: 10px;
}
    .top-form .personForm ol {
    padding: 4px 3px;
}
.content-area .dashboard {
    padding: 0px 15px;
}
}
@media (max-width:990px){
    
.pagerow .laft-bar {
    width: 100px;
}
.laft-bar .site-logo {
    padding: 0px 10px 20px 10px;
}
.laft-bar .admin-panel ul li {
    padding: 8px 10px;
    font-size: 15px;
}

.top-form .personForm ol li {
    font: normal 10px/1.9 "Poppins", sans-serif;
}
    
    
}

@media (max-width:815px){
    .sidebar .indicated-data ul li input {
    width: 59px;
}
.family-info-inner {
    border: 3px solid #000;
}
.family-info {
    max-width: 34% !important;
}
.middle-section1 {
    max-width: 15%;
}   
.middle-section .action-row ul li input {
    width: 50px;
    font-size: 10px;
}
 .sidebar {
    max-width: 14%;
}
.middle-section {
    max-width: 16%;
}
.indicated-data ul li input {
    width: 62px;
    font: 400 10px/1.5 "Poppins", sans-serif
}
.sidebar .indicated-data ul {
    padding-left: 6px;
}
.indicated-data ul .percentage {
 margin-right: -23px;
}
.indicated-data ul {
    padding-left: 25px;
}
.top-form .personForm ol li {
    font: normal 9px/1.9 "Poppins", sans-serif;
}

}
@media (max-width:767px){
.top-row .search-wrap input[type=text] {
    width: 80%;
}
.top-row .info-menu {
    margin-top: 15px;
}
.cover-header .top-row {
    display: block;
}
.cover-header .top-row .info-menu ul li button {
       padding: 8px 8px;
}
.left-content .top-forms {
    display: block;
}   
.left-content .family-info {
    max-width: 100% !important;
}
.middle-section1 {
    max-width: 100%;
}
.sidebar {
    max-width: 100%;
    padding-top: 30px;
}
.middle-section {
    max-width: 100%;
}
.left-content .family-info {

}
.saprator {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0px;
    margin-top: 15px;
}
.middle-section {
    padding-top: 27px;
}
.content-area .dashboard{
    float:left;
}

}



*/