.personForm ol {
    border-bottom: 1px solid #fff
}

.finalformRed ol {
    background: #cd1f49!important
}

.SizeDollar {
    font-size: 14px
}

.SizeAmount {
    width: 94%!important
}

.SizeAmount.text-right,
input.SizeAmountHalf {
    width: 88%!important
}

.inputrow input {
    outline: 0
}

.inputrow input::-webkit-input-placeholder {
    color: #9ea0a3
}

.inputrow input::-moz-placeholder {
    color: #9ea0a3
}

.inputrow input::-ms-input-placeholder {
    color: #9ea0a3
}

.inputrow input::placeholder {
    color: #9ea0a3
}

span.SizeDollar {
    color: #9ea0a3
}

.heading_row {
    padding: 0!important
}

.heading_row li {
    border-right: 1px solid #fff;
    box-sizing: border-box;
    padding: 0 2px
}

.no-outline input {
    outline: 0
}

.amountRight {
    float: right;
    width: auto!important;
    border: 0!important;
    padding-right: 7px
}

.li-3 li {
    width: 33.33%!important
}

ul.li-3.fieldtitle_bg li {
    border-top: 0!important;
    border-bottom: 0!important
}

ul.li-3.fieldtitle_bg li:last-child {
    border-right: 0!important
}

ul.li-3.fieldtitle_bg li:first-child {
    border-left: 0!important
}

.action-row li i {
    font-size: 18px!important
}

.middle-section .action-row ul {
    justify-content: flex-end!important;
    justify-content: flex-start!important
}

.action-row ul {
    margin-bottom: 0!important;
    min-height: 31.6px;
    max-height: 31.6px;
}

.indicated-data li:last-child {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 50px
}

.indicated-data li:nth-child(2) {
    position: relative;
    display: flex;
    align-items: center
}

span.SizeDollar1 {
    position: relative;
    font: 600 12px/1.5 Poppins, sans-serif;
    color: #9ea0a3
}

.sidebar ul li:nth-child(1) i {
    padding: 6px 5px 0 0
}

.sidebar ul li:nth-child(2) {
    background: 0 0
}

.sidebar ul li:nth-child(2) input {
    width: 23px!important;
    border: none!important;
    margin-right: 0;
    outline: 0;
    padding-right: 0!important;
    font: 600 12px/1.5 Poppins, sans-serif;
    color: #9ea0a3;
    background: 0 0
}

.sidebar ul li:nth-child(3) input {
    width: 120px!important
}

.indicated-data li:nth-child(2) span {
    position: relative
}

.indicated-data li:nth-child(3) span {
    font: 600 12px/1.5 Poppins, sans-serif;
    color: #9ea0a3
}

.middle-section .action-row ul li input {
    font: 600 12px/1.5 Poppins, sans-serif;
    color: #9ea0a3;
    background: 0 0
}

.sidebar ul li:nth-child(3) input:before {
    content: "123"
}

.sidebar ul li:nth-child(3) {
    background: 0 0;
    padding-left: 7px
}

.sidebar ul li:nth-child(3) div {
    padding-right: 10px;
    font: 600 12px/1.5 Poppins, sans-serif;
    color: #9ea0a3;
    padding-left: 2px
}

ol.li-4.d-flex.heading_row {
    min-height: 31px;
    align-items: center
}

ol.li-4.d-flex.heading_row li:last-child {
    border-right: 0
}

.middlee {
    position: relative;
    right: -5px;
    font: 600 12px/1.5 Poppins, sans-serif;
    color: #9ea0a3
}

.showyear-center p {
    position: absolute;
    text-align: center;
    width: 100%;
    top: -27px
}

.showyear-center {
    position: relative
}

.action-row li input {
    width: 15px;
    margin-right: 0!important;
    padding-left: 0;
    z-index: 10;
    background: #e8f1f9!important
}

.action-row li:first-child {
    width: 155px;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
    border: 1px solid transparent;
    padding-left: 0;
    position: relative;
    z-index: 99
}

.action-row li:first-child input {
    border: none!important;
    outline: 0;
    text-align: left!important
}

.total_amount {
    padding-right: 7px;
    float: right;
    font: 600 12px/1.5 Poppins, sans-serif
}

.middleStyle input {
    margin-left: 0!important
}

.fontSizetotal {
    font: 600 12px/1.5 Poppins, sans-serif
}

span.SizePercent {
    font: 600 12px/1.5 Poppins, sans-serif;
    color: #9ea0a3
}

.li-4.d-flex[_ngcontent-ttl-c1] li[_ngcontent-ttl-c1]:nth-child(3) {
    width: 40%!important
}

.d-flexstyle {
    display: flex!important;
    align-items: center;
    padding-right: 12px
}

.d-flexstyle .SizePercent {
    position: relative;
    left: -2px
}

.d-flexstyle input::-webkit-input-placeholder {
    text-align: center
}

.d-flexstyle input::-moz-placeholder {
    text-align: center
}

.d-flexstyle input::-ms-input-placeholder {
    text-align: center
}

.d-flexstyle input::placeholder {
    text-align: center
}

.d-flexstyle input {
    text-align: right
}

.middle-section .action-row ul li input {
    height: 25px;
    margin: 0 5px;
    text-align: center;
    border: 1px solid #172b4d;
}

.new-amm li .middlee {
    left: 0!important;
    position: relative;
    color: #000
}

.new-amm li i {
    font-size: 17px;
    position: relative;
    right: -10px
}

.arrow-size i {
    font-size: 17px
}

.arrow-size span {
    position: relative;
    top: -3px
}

.Turn {
    position: relative;
    top: -30px
}

.new-position {
    top: 0!important
}

.new-action-add {
    margin-bottom: 0!important
}

.newrow1 {
    float: left;
    padding-top: 6px;
    width: 100%
}

.amm-set {
    position: relative;
    left: 0;
    width: 100%;
    float: left;
    padding-top: 29px
}

.p-set {
    padding-top: 20px!important
}

.sidebar .indicated-data {
    margin-bottom: 0!important
}

.dirction-row {
    float: left;
    width: 100%;
    margin-bottom: 31px
}

.full-width-row {
    width: 100%;
    float: left;
    margin-bottom: 31px!important
}

.sidebar .indicated-data2 {
    margin-bottom: 31px!important
}

.sidebarrow {
    margin-bottom: 31px
}

.dirction-row .total_amount {
    top: 3px;
    position: relative
}

.middleStyle::after {
    content: '';
    width: 100%;
    height: 0;
    border-bottom: 3px solid;
    position: relative;
    top: 0
}

.middleStyle span {
    position: relative;
    left: 0;
    z-index: 99
}

.middle-section .action-row ul li:last-child {
    padding-left: 0!important;
    position: relative;
    right: 2px
}

.line-c:after {
    content: '';
    width: 44%;
    height: 0;
    border-bottom: 4px solid;
    position: absolute;
    top: 16px;
    right: 5px;
    z-index: 9;
}

.line-c {
    position: relative;
    max-height: 177px
}

.line-c li:last-child {
    position: absolute;
    right: 0
}

.line-c li input {
    max-width: 90px!important
}

.circle-box ul {
    display: flex;
    padding: 0 5px
}

.circle-box {
    background: #172b4d;
    width: 49px;
    text-align: center;
    height: 49px;
    border-radius: 50%;
    line-height: 49px;
    margin-right: 10px
}

.circle-box li i {
    color: #fff;
    font-size: 12px
}

.circle-box li {
    margin: 0 5px
}
.custmwdth.ng-pristine {

}
.box-series,
.new-box {
    display: flex
}

.outline-none {
    outline: 0
}

img.pro {
    width: 6%;
    margin-right: 5px
}
.total ul{width: 100%;}
.activeClass {
    color: red
}
.fully li {
    min-height: 20px;
}
.fully {
    float: left;
    width: 100%;
}

.d-flexstyle .SizePercent {
    position: relative;
    left: -2px;
}
span.SizePercent {
    font: 600 12px/1.5 Poppins,sans-serif;
    color: #9ea0a3;
}
.title-box {     display: flex;
    background: #cd1f49;
    color: #fff;position: relative;
     align-items: center;    padding: 6px 0px 6px 31px;    margin-right:8px; margin-bottom: 8px;
     min-height: 40px;
}
.arrow_list{position: relative;}
.arrow_list .title-box:first-child {
  
}
.arrow_list:before {
}
.action_box ul {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.action_box {
background: #fff;
    color: #000;
    border-radius: 50%;
    height:34px;
    width: 34px;
    text-align: center;
}
.action_box li {
    width: 17px;
    text-align: center;    font-weight: 700; height: 17px;
    font-size: 10px;    box-sizing: border-box;
}
.action_box li i{ font-weight: 700;}
.action_box ul{position: relative;}
.action_box ul:after {
    content: "";
    width: 100%;
    background: #333;
    position: absolute;
    height: 1px;
    top: 49%;
}
.action_box ul:before {
    content: "";
    width: 1px;
    background: #333;
    position: absolute;
    height: 100%;
    left: 49%;
}
.box_info {
    padding-left: 2px;
    text-align: center;
}

.title-box:after{
top: 0px;
    right: -52px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #cd1f49;
    border-width: 26px;
    margin-left: 0px;z-index: 99;
}
.title-box:before{
top: 0px;
    left: 0px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(194, 225, 245, 0);
    border-left-color: #e8f1f9;
    border-width: 26px;
    margin-left: 0px;
}
.arrow_list {
    display: flex;    width: 100%;
}
.box_info2 {
    width: 100%;
    padding-left: 0px;
}
.border-btm {
    border-bottom: 1px solid #fff;
    margin-bottom: 2px;
    padding-bottom: 2px;
}
.full-row {
    display: block;
}
.saprator-blue {
    text-align: center;
    font-size: 36px;
    color: #295282;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    max-width: 100%;
    margin: 50px auto 0;
    background: #e8f1f9;
}
.saprator-blue:after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background: #cd1f49;
    left: 0;
    top: 50%;
}

.img-size img {
    max-width: 45px;
}
.saprator-blue .sapbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    background: #e8f1f9;
    padding: 0 24px;
    z-index: 9;
}
.box_info input::placeholder{ color: #fff;}
.box_info input {
    background: none;
    border: none;
    color: #fff;
    text-align: center;
    outline: none;
    text-transform: uppercase;
}
.namerow input{max-width: 70px;}
.action_box ul li:nth-child(1) {
    text-align: right !important;
    padding-right: 3px; padding-top: 5px;

}
.action_box ul li:nth-child(3) {
    text-align: right !important;    
padding-top: 3px;
    padding-right: 3px;
}
.action_box ul li:nth-child(2) {
    text-align: left !important;
    padding-left: 3px;    padding-top: 5px;
}
.action_box ul li:nth-child(4) {
    text-align: left !important;
    padding-left: 3px;padding-top: 3px;
}
.box-repeat:nth-child(1) .title-box::before{display: none;}
.box-repeat:nth-child(1) .title-box{padding-left: 10px;}
.arrow_listinside {    margin-top: 20px;    width: 100%;}
.arrow_listinside:before {
    content: "";
    background: #295282;
    width: 100%;
    height: 52px;
    position: absolute;
}
.box-repeat {
    background: #e8f1f9;
    position: relative;
}
.box-repeat:last-child .title-box {
    margin-right: 0px;
}
.box-repeat:last-child::after {
top: -9px;
    right: -70px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-left-color: #e8f1f9;
    border-width: 35px;
    margin-left: 0px;
}
input.clnt {
    width: 37px;    
}
.bottom_sign {
    text-align: center;
}
.bottom_sign button {
    background: #cd1f49;
    color: #fff;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    line-height: 22px;
    border: none;
    box-shadow: none;
}
.title-box22 {
    padding-top: 4px !important;
    padding-bottom: 2px !important;
}
.box_info_data input {
    font-size: 10px;
}
.box_info_data span {
    font-size: 10px;
    line-height: 11px;
}
.top-header-row li p {
    padding: 0px !important;
}
.bottom_sign span {
    background: #cd1f49;
    color: #fff;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    line-height: 22px;
    border: none;
    box-shadow: none;position: relative;
}
.bottom_sign span input {
    position: absolute;
    width: 22px;
    left: 0px;
    border: none;
    height: 22px;
    border-radius: 50%;
    background: none;
    outline: none;
}
.scrolled_div {
    overflow-y: auto;
    max-height: 700px;
}
.fixed_top {
    position: sticky;
    top: 0px;
    padding-top: 0px;
    z-index: 999;
    background-color: #e8f1f9;
}
.fixed_top .saprator-blue {
    margin-top: 0px;
}

#style-3::-webkit-scrollbar-track
{

    background-color: #e8f1f9;
}

#style-3::-webkit-scrollbar
{
    width: 6px;
    background-color: #e8f1f9;
}

#style-3::-webkit-scrollbar-thumb
{
    background-color: #295282;
}
.content-area {
    box-sizing: border-box;
    flex: auto;
    overflow-x: auto;
}
.arrow_list {
    overflow-x: auto;
    max-width: 100%;
    padding-bottom: 10px;
}
.arrow_list::-webkit-scrollbar-track
{

    background-color: #e8f1f9;
}

.arrow_list::-webkit-scrollbar
{
    height: 6px;
    background-color: #e8f1f9;
}

.arrow_list::-webkit-scrollbar-thumb
{
    background-color: #295282;
}
.set_row {
    float: left;
    width: 100%;
    text-align: center;
}